/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  height: 200px;
}

li {
  background-color: aquamarine;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
